.divlogin {
  margin-top: 0px;
  position: relative;
  background-color: rgb(224, 224, 224);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 800px;
}
.fistinform {
  height: 30vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.form {
  position: relative;
  width: 20rem;
}
.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(37, 37, 37);
  border-radius: 0.3rem;
  outline: none;
  padding: 1rem;
  background: none;
}
.form__input:hover {
  border-color: rgb(0, 225, 255);
}

.form__input:focus {
  border-color: rgb(0, 151, 20);
}

.form__label {
  position: absolute;
  left: 1rem;
  top: 0.2rem;
  padding: 0 0.5rem;
  color: rgb(255, 196, 0);
  cursor: text;
  transform: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: rgb(224, 224, 224);
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.87rem;
  font-size: 1rem;
  left: 1rem;
  transition: 0.5s;
}

.h1prem {
  padding-top: 60px;
  text-align: center;
}
.hrTitre {
  width: 40%;
  transform: translateX(75%);
  margin-top: 5px;
  border-radius: 5px;
  color: rgb(13, 158, 0);
  padding: 5px;
  margin-bottom: 4.5rem;
}
.sousForm {
  margin-top: 5em;
  width: 100%;
  transform: translateX(15%);
  display: block flow-root;
  font-size: 0.9rem;
}
.btnconnect {
  border-radius: 6px;
  outline: none;
  background-color: rgb(66, 206, 131);
  color: rgb(255, 196, 0);
  border-color: black;
  border-style: groove;
}
.btnconnect:hover {
  color: black;
  border-color: lightgreen;
}
.link1 {
  text-decoration: none;
  color: rgb(46, 203, 255);
}
.link1:hover {
  color: rgb(255, 196, 0);
  text-decoration: underline;
}
